/* 수정 : 폰트 변경 */
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Jua&display=swap');

* {
    box-sizing: border-box;
    color: #121212;
    font-size: 14px;
    font-family: 'Jua', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}